---
import SliderContainer from "@components/slider/SliderContainer";
import { getFields } from "@utils";

const {data} = Astro.props;
const title = data?.title;
const slider = data?.slider3;
const promotionsList = slider.map(item => {
    return ({
        text: item?.title || '',
        buttonName: item?.buttonName || '',
        description: item?.description || '',
        link: item?.url || '#',
        pic: getFields(item?.coverImage.data?.attributes) || null,
    })
});
---
<h2 class="text-24-36-700 sm:text-34-37-700 w-full sm:w-3/4">
    {title}
</h2>
<div class="overflow-hidden pt-4">
    <SliderContainer
        client:load
        list={promotionsList}
        noInfiniti={true}
        itemComponentName="SliderItem3"
    />
</div>