---
import SliderContainer from "@components/slider/SliderContainer";
import { getFields } from "@utils";
import slideimg1 from '@assets/images/slides/promo/promotions-card-1.webp';
import slideimg2 from '@assets/images/slides/promo/promotions-card-2.webp';
import slideimg3 from '@assets/images/slides/promo/promotions-card-3.webp';

const {data} = Astro.props;
const title = data?.title;
const slider = data?.slider3;
const slidesList = [slideimg3, slideimg1, slideimg2, ];
const seoTitles = [
    {
        alt: "Logo do Caça-Níqueis do Pin Up Casino Hell Hot",
        title: "Hell Hot: Logo do Caça-Níqueis do Pin Up Casino"
    },
    {
        alt: "Logo do Caça-Níqueis do Pin Up Casino Demi Gods",
        title: "Demi Gods: Logo do Caça-Níqueis do Pin Up Casino"
    },
    {
        alt: "Logo do Caça-Níqueis do Pin Up Casino Gates of Olympus",
        title: "Gates of Olympus: Logo do Caça-Níqueis do Pin Up Casino"
    },
];

const promotionsList = slider.map((item,index) => {
    const picinfo = getFields(item?.coverImage?.data?.attributes);
    const pic = {
        url: slidesList[index].src,
        title: seoTitles[index].title,
        alternativeText: picinfo.alternativeText || '',
        w: 434,
        h: 240,
    }
    return ({
        text: item?.title || '',
        buttonName: item?.buttonName || '',
        description: item?.description || '',
        link: item?.url || '#',
        pic,
    })
});
---
<h2 class="text-24-36-700 sm:text-34-37-700 w-full sm:w-3/4">
    {title}
</h2>
<div class="overflow-hidden pt-4">
    <SliderContainer
        client:load
        list={promotionsList}
        noInfiniti={true}
        itemComponentName="SliderItem3"
    />
</div>