---
import {  getImage } from "astro:assets";
import Article from "@components/article/Article.astro";
import SliderContainer from "@components/slider/SliderContainer";
import slotsPic1 from "@assets/images/slots-1.png";
import slotsPic2 from "@assets/images/slots-2.png";
import slotsPic3 from "@assets/images/slots-3.png";

const slots1pic = await getImage({ src: slotsPic1, width: 433, format: 'webp' });
const slots2pic = await getImage({ src: slotsPic2, width: 433, format: 'webp' });
const slots3pic = await getImage({ src: slotsPic3, width: 433, format: 'webp' });

const bonusList = [
    {
        text: 'Hell Hot',
        description: 'Uma colorida slot infernal com símbolos ardentes e grandes prémios.',
        pic: slots1pic,
    },
    {
        text: 'Demi Gods II',
        description: 'Mergulhe numa aventura emocionante com personagens únicas e grandes prémios.',
        pic: slots2pic,
    },
    {
        text: 'Gates of Olympus',
        description: 'Descobre o fascinante mundo da mitologia grega com riquezas e poder.',
        pic: slots3pic,
    },
    {
        text: 'Hell Hot',
        description: 'Uma colorida slot infernal com símbolos ardentes e grandes prémios.',
        pic: slots1pic,
    },
    {
        text: 'Demi Gods II',
        description: 'Mergulhe numa aventura emocionante com personagens únicas e grandes prémios.',
        pic: slots2pic,
    },
    {
        text: 'Gates of Olympus',
        description: 'Descobre o fascinante mundo da mitologia grega com riquezas e poder.',
        pic: slots3pic,
    },
];

---
<div class="overflow-hidden pt-4">
    <Article titleH1="Promoções e Bônus do Pin Up Casino">
        <SliderContainer
            client:load
            list={bonusList}
            itemComponentName="SliderItem3"
        />
    </Article>
</div>