---
import { getFields } from '@utils';
import neteller from '/src/assets/svg/neteller.svg';
import visa from '/src/assets/svg/visa.svg';
import paypal from '/src/assets/svg/paypal.svg';
import mastercard from '/src/assets/svg/mastercard.svg';
import bitcoin from '/src/assets/svg/bitcoin.svg';
import skrill from '/src/assets/svg/skrill.svg';
const {data} = Astro.props;
const slidesList = [neteller, visa, paypal, mastercard, bitcoin, skrill];
---
<div class="mt-6 grid gap-x-4 gap-y-4 grid-cols-2 sm:grid-cols-2 sm:gap-x-4 md:grid-cols-3 lg:mx-0 lg:grid-cols-6">
    {data.map((item,index) => {
    const picinfo = getFields(item?.coverImage?.data?.attributes);
        return (
            <div class='flex justify-center items-center px-8 py-8 h-[120px] rounded-[24px] bg-pnp/[.05]'>
                <img 
                    src={slidesList[index].src}
                    width={picinfo.w}
                    height={picinfo.h}
                    loading="lazy"
                    alt={picinfo.alternativeText || ''}
                />
            </div>
        )
    })}
</div>
