---
import { Image } from 'astro:assets';
const providersName = ['bitcoin', 'mastercard', 'neteller', 'paypal', 'skrill', 'visa'];
const images = {
  'mastercard': () => import('/src/assets/svg/mastercard.svg'),
  'neteller': () => import('/src/assets/svg/neteller.svg'),
  'bitcoin': () => import('/src/assets/svg/bitcoin.svg'),
  'paypal': () => import('/src/assets/svg/paypal.svg'),
  'skrill': () => import('/src/assets/svg/skrill.svg'),
  'visa': () => import('/src/assets/svg/visa.svg'),
};
/**
 * Get all SVG files:
   const providersList = providersName.map(item=> ({alt: item, key: `/src/assets/svg/${item}.svg`}));
   const images = await import.meta.glob('/src/assets/svg/*.svg');
*/
---
<div class="mt-6 grid gap-x-4 gap-y-4 grid-cols-2 sm:grid-cols-2 sm:gap-x-4 md:grid-cols-3 lg:mx-0 lg:grid-cols-6">
    {providersName.map(item => {
        const h = (item !== 'mastercard') ? "25" : "45";
        return (
            <div class='flex justify-center items-center px-8 py-8 h-[120px] rounded-[24px] bg-pnp/[.05]'>
                <Image 
                    src={images[`${item}`]()} 
                    format='webp' height={h} 
                    alt={item}
                />
            </div>
        )
    })}
</div>
