---
import { getImage } from "astro:assets";
import BannerItem1 from "@components/banner/BannerItem1.astro";
import ButtonRounded from '@components/buttons/ButtonRounded.tsx';
import TwoColomns100 from "@components/sections/TwoColomns100.astro";

import BannerItem from "./BannerItem.astro";
import pic1 from "@assets/svg/ForbidenIcon.svg";
import pic2 from "@assets/svg/CheckedIcon.svg";

const slideIcon1 = await getImage({ src: pic1, height: 50, format: 'webp' });
const slideIcon2 = await getImage({ src: pic2, height: 50, format: 'webp' });

---
<BannerItem1
    title="Bem-vindo ao mundo das apostas e dos jogos de azar na Pin Up Bet"
    description="Connosco, todos os momentos são repletos de emoção e oportunidades para ganhar. Explore as excitantes apostas desportivas, os emocionantes jogos de casino e os ricos bónus para tornar a sua experiência de jogo única e excitante"
    buttonName="Começam a colocar"
/>

<div class="flex flex-col items-center gap-8">
    <h1 class="text-40-48-700 text-pnp max-w-[820px] text-center">
        Uma Visão Geral do Pin Up Bet: Apostas Esportivas e Cassino Online
    </h1>
    <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" slot="action" />

    <TwoColomns100>
        <BannerItem pic={slideIcon1} slot="first-col">
            <div class="flex flex-col gap-4">
                <h2 class="text-28-34-700 text-pnp">Benefícios</h2>
                <p class=' text-pnp-grey20'>Variedade de Opções</p>
                <p class=' text-pnp-grey20'>Cotas Elevadas</p>
                <p class=' text-pnp-grey20'>Eventos Desportivos Cativantes</p>
                <p class=' text-pnp-grey20'>Ferramentas Eficazes de Aposta</p>
                <p class=' text-pnp-grey20'>Ofertas e Bônus Exclusivos</p>
            </div>
        </BannerItem>
        <BannerItem pic={slideIcon2} slot="second-col">
            <div class="flex flex-col gap-4">
                <h2 class="text-28-34-700 text-pnp">Desvantagens</h2>
                <p class=' text-pnp-grey20'>Controle Limitado</p>
                <p class=' text-pnp-grey20'>Risco de Perda de Fundos</p>
                <p class=' text-pnp-grey20'>Necessidade de Conhecimento de Regras e Estratégias</p>
                <p class=' text-pnp-grey20'>Dependência da Conexão à Internet</p>
                <p class=' text-pnp-grey20'>Influência de Fatores Externos nos Eventos Desportivos</p>
            </div>
        </BannerItem>
    </TwoColomns100>
</div>

