---
import { getImage } from "astro:assets";
import ButtonRounded from '@components/buttons/ButtonRounded.tsx';
import Article from "@components/article/Article.astro";
import TwoColomns from "@components/sections/TwoColomns.astro";
import TwoColomns50 from "@components/sections/TwoColomns50.astro";
import airplane from "@assets/images/airplane.png";
import frame1 from "@assets/images/Frame(1).png";
import frame2 from "@assets/images/Frame(2).png";

const pic = await getImage({ src: airplane, format: 'webp' });
const aviFrame1pic = await getImage({ src: frame1, format: 'webp' });
const aviFrame2pic = await getImage({ src: frame2, format: 'webp' });

---
<Article titleH1="Ofertas especiais">
        <TwoColomns>
            <div slot="first-col">
                <h2 class="text-28-34-700 text-pnp">A better workflow</h1>
                <p class='mt-2 text-pnp-grey20'>O "Aviator" não é apenas um jogo, é um mundo inteiro de diversão virtual e a possibilidade de grandes ganhos</p>
                <p class="mt-2 text-pnp-grey20">A simplicidade e a mecânica divertida do Aviator fazem dele a escolha perfeita para todos os jogadores, independentemente da sua experiência. Com regras claras e jogabilidade fácil de entender, é imediatamente imerso num mundo de emoção e possibilidades. Desfrute de cada momento enquanto voa em direção aos seus ganhos com a emocionante mecânica do Aviator no Pin Up Casino!</p>
            </div>
            <img src={pic.src} alt='' class='w-full sm:max-h-[200px]' slot="second-col"/> 
            <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" slot="action" />
        </TwoColomns>
</Article>

<slot/>   

    <TwoColomns50 reverse>
        <div slot="first-col">
            <h2 class="text-28-34-700 text-pnp">
                Jogue Aviator no Aplicativo do Pin Up Casino
            </h2>
            <p class='mt-2 text-pnp-grey20'>Versão Mobile: Jogue Aviator a Qualquer Hora</p>
            <p class="mt-2 mb-8 text-pnp-grey20">A nossa aplicação dá-te a oportunidade de desfrutares da jogabilidade única de "Aviator" a qualquer hora e em qualquer lugar, conforme a tua conveniência</p>
            <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" slot="action" />
        </div>
        <img src={aviFrame2pic.src} alt='' class='w-full ' slot="second-col"/> 
    </TwoColomns50>

    <TwoColomns50>
        <div slot="second-col">
            <h2 class="text-28-34-700 text-pnp">
                Jogue Aviator no Aplicativo do Pin Up Casino
            </h2>
            <p class='mt-2 text-pnp-grey20'>Versão Mobile: Jogue Aviator a Qualquer Hora</p>
            <p class="mt-2 mb-8 text-pnp-grey20">A nossa aplicação dá-te a oportunidade de desfrutares da jogabilidade única de "Aviator" a qualquer hora e em qualquer lugar, conforme a tua conveniência</p>
            <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" slot="action" />
        </div>
        <img src={aviFrame1pic.src} alt='' class='w-full' slot="first-col"/> 
    </TwoColomns50>


