---
import Article from "@components/article/Article.astro";
import SliderContainer from "@components/slider/SliderContainer";
import { getFields } from "@utils";

const {data} = Astro.props;
const sliderItems = data?.sliderItems;

const sliderList =  sliderItems.map(item=> {
    const text = item?.title || '';
    const description = item.description || '';
    const link = item.url;

    return ({
        text,
        link,
        description,
        pic: getFields(item?.coverImage?.data?.attributes),
    })
})
---
<div class="overflow-hidden pt-4">
    <Article titleH1="123 Bônus de Boas-Vindas para Jogadores de Aviator">
        <SliderContainer
            client:load
            itemsNum={2}
            noInfiniti={true}
            list={sliderList}
            itemComponentName="SliderItem3"
        />
    </Article>
</div>
