---
import Article from "@components/article/Article.astro";
import RichText from "@components/richtext/RichText.astro";
import SliderContainer from "@components/slider/SliderContainer";
import { getFields } from "@utils";

const {data} = Astro.props;
const sliderTitle = data?.sliderTitle;
const sliderItems = data?.sliderItems;

const sliderList =  sliderItems.map(item=> {
    const text = item?.title || '';
    const description = item.description || '';
    const link = item.url;

    return ({
        text,
        link,
        description,
        pic: getFields(item?.coverImage?.data?.attributes),
    })
})
---

{!!sliderTitle?.length &&
    <RichText
        data={sliderTitle}
        listBullet="checked"
        styles={{
            h3: 'mb-2',
            paragraph: 'mb-2' 
        }}
    />
}
<div class="overflow-hidden pt-4">
    <SliderContainer
        client:load
        itemsNum={2}
        noInfiniti={true}
        list={sliderList}
        itemComponentName="SliderItem3"
    />
</div>
