---
import Article from "@components/article/Article.astro";
import ButtonRounded from '@components/buttons/ButtonRounded.tsx';
---
<Article
    titleH1="Uma Análise Detalhada do Pin-Up Brasil"
    description="Esta plataforma atrai não apenas os iniciantes no mundo dos cassinos, mas também os jogadores experientes. Nesta resenha do Pin-Up Brasil, você encontrará todas as informações sobre este site. E na tabela abaixo há um resumo básico do cassino online PinUp"
>

<div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8">
      <div class="-mx-4 overflow-x-auto">
        <div class="inline-block min-w-full align-middle border border-white/[.15] rounded-[32px]">
          <table class="table-fixed min-w-full divide-y divide-white/[.15] text-white mr-8">
            <thead>
              <tr class="divide-x divide-white/[.15]">
                <th scope="col" class="w-[50%] py-3.5 pl-8 pr-4 text-left text-18-28-400">Licença</th>
                <th scope="col" class="w-[50%] py-3.5 px-8 text-left text-18-28-400">Curaçao</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-white/[.15] ">

              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">Ano de fundação</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">2016</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">Idiomas</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400 ">Reais Brasileiros, Euro</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">Jogos disponíveis</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400 ">Slots, Blackjack, Bacará, Roleta, Bingo, etc.</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">Provedores de jogos</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400 ">Microgaming, Netent, Playtech, Pragmatic Play, etc.</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">Métodos de Depósito</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400 ">Skrill, Neteller, Bitcoin, Litecoin, Tether, etc.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    <div class='flex flex-row justify-center my-4 mr-4 sm:mr-0 '>
        <ButtonRounded 
            size="xl" 
            color="red" 
            title="Jogue agora" 
            className='w-full sm:w-auto'
        />
    </div>

</Article>
