---
import { getImage } from "astro:assets";
import SliderContainer from "@components/slider/SliderContainer";
import infoPic2 from "@assets/images/star.png"; // letter.png | star.png | checked.png;
import RichText from "@components/richtext/RichText.astro";
import WithBottom from "@components/spaces/WithBottom.astro";
import { getFields } from "@utils";

const slideImage2 = await getImage({ src: infoPic2, height: 50, format: 'webp' });
const { sliderTitle, sliderData } = Astro.props;
const infoData = sliderData.map(item=> {
    const text = item.title;
    const description = item.description; 
    const picinfo = getFields(item?.coverImage?.data?.attributes);
    return({
        text,
        description,
        pic: slideImage2,
        alt: picinfo.alternativeText
    })
})


---
<WithBottom>
    <RichText
        data={sliderTitle}
        styles={{
            list:"my-4"
        }}
    />
</WithBottom>

<div class="overflow-hidden pt-2">
    <SliderContainer
        client:load
        list={infoData}
        noInfiniti={true}
        itemComponentName="SliderItem5"
    />
</div>
