---
import RichText from "@components/richtext/RichText.astro";
import ButtonRounded from "@components/buttons/ButtonRounded";

const {data} = Astro.props;
const betArticleContent = data?.betArticleContent;
const betArticleBtn = data?.betArticleBtn;
---
<div class="block mb-8 w-full">
    <RichText
        data={betArticleContent}
        styles={{
            h3: 'mb-2',
            image: 'mb-8',
            paragraph: 'mb-6',
            list: 'mb-6'
        }}
    />
</div>

{ betArticleBtn &&
    <div class="flex justify-center">
    <ButtonRounded
        size="xl"
        title={betArticleBtn.name || "Começam a colocar"}
        color={betArticleBtn.type || "red"}
        link={betArticleBtn.link || "#"}
        className="w-full sm:w-auto"
    />
    </div>
}
