---
import ButtonRounded from '@components/buttons/ButtonRounded';
interface Props {
    url: string;
    name: string;
}
const {name, url} = Astro.props as Props;
---
<a href={url} class="text-center hover:text-pnp-red hover:underline transition-colors duration-150 ease-in-out" >
    <div class="text-center relative">
            <div class="opacity-0 hover:opacity-100 transition-opacity duration-150 ease-in-out absolute bg-black/50 top-[1px] bottom-[1px] left-[1px] right-[1px] flex justify-center flex-col gap-4 items-center min-h-full rounded-[24px] sm:rounded-[32px]">
                <ButtonRounded size="sm" color="red" title="Jogar" className='w-36'/>
                <ButtonRounded size="sm" color="green" title="Demo"  className='w-36'/>
            </div>
        <slot/>
    </div>
    <span class="text-base font-semibold">
        {name}
    </span>
</a>