---
interface ListItemProps {
    url: string;
    title: string;
    image: string;
}
interface Props {
    list: ListItemProps[];
}
import { Image } from "astro:assets";
import SlotsItem from "./SlotsItem.astro";
import hellHot from "@assets/images/hell-hot.png";

const {list} = Astro.props as Props;
---
    <ol class="grid grid-cols-2 gap-4 sm:gap-[30px] md:grid-cols-3 lg:grid-cols-4">
        { list.map(item => (
            <li class="col-span-1 flex flex-col rounded-lg text-center" >
                <SlotsItem url={item.url} name={item.title}>
                    <Image
                        src={hellHot}
                        format='webp'
                        alt="hell hot"
                        class="rounded-[24px] sm:rounded-[32px] border border-gray-500 mb-4"
                    />
                </SlotsItem>
            </li>
        ))}
    </ol>
</>

