
  <ul role="list" class="mt-8  text-pnp-grey20">
    <li class="flex gap-x-3">
      <div class="bg-pnp-green h-[28px] w-[28px] rounded-full flex items-center justify-center px-[11px] py-[10px]">
        <span class="text-16-24-600">1</span>
      </div>
      <span>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
      </span>
    </li>
    <li class="flex gap-x-3">
      <div class="bg-pnp-green h-[28px] w-[28px] rounded-full flex items-center justify-center px-[11px] py-[10px]">
        <span class="text-16-24-600">2</span>
      </div>
      <span>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
      </span>
    </li>
    <li class="flex gap-x-3">
      <div class="bg-pnp-green h-[28px] w-[28px] rounded-full flex items-center justify-center px-[11px] py-[10px]">
        <span class="text-16-24-600">3</span>
      </div>
      <span>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
      </span>
    </li>
  </ul>
