<ul role="list" class="mt-8 pl-10 space-y-8 text-pnp-grey20 list-decimal">
    <li class="text-16-24-400">
        Acesse sua conta no Pin-Up Casino regularmente para não perder as ofertas exclusivas disponíveis apenas para jogadores frequentes.
    </li>
    <li class="text-16-24-400">
        Esteja atento às mensagens e notificações do Pin-Up Casino, pois elas podem conter informações sobre bônus personalizados, cashback e eventos VIP.
    </li>
    <li class="text-16-24-400">
        Aproveite os convites para eventos VIP. Essas ocasiões especiais podem oferecer experiências únicas e recompensas exclusivas.
    </li>
    <li class="text-16-24-400">
        Ao manter-se ativo, você pode receber bônus personalizados adaptados ao seu estilo de jogo e preferências, proporcionando uma experiência mais personalizada.
    </li>
    <li class="text-16-24-400">
        Esteja ciente do programa de fidelidade do Pin-Up Casino. Algumas ofertas exclusivas podem estar vinculadas ao seu status de jogador e à sua participação constante no cassino.
    </li>
</ul>
 