
<ul role="list" class="mt-3 list-disc pl-5 space-y-3 text-pnp-grey20 marker:text-pnp-green">
    <li class='text-16-24-400'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
    </li>
    <li class='text-16-24-400'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
    </li>
    <li class='text-16-24-400'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores impedit perferendis suscipit eaque, iste dolor cupiditate blanditiis ratione.
    </li>
  </ul>
