---
import { STRAPI_URL } from '@constants';
import RichText from '@components/richtext/RichText.astro';
import ButtonRounded from "@components/buttons/ButtonRounded";
import SliderContainer from "@components/slider/SliderContainer";
import betslide1 from '@assets/images/slides/bet/bet-image-1.webp';
import betslide2 from '@assets/images/slides/bet/bet-image-2.webp';
import betslide3 from '@assets/images/slides/bet/bet-image-3.webp';
import betslide4 from '@assets/images/slides/bet/bet-image-4.webp';
import betslide0 from '@assets/images/slides/bet/bet-image.webp';
import { getFields } from '@utils';
const slideCoverList = [betslide1,betslide0,betslide2,betslide4,betslide3 ];

const {data} = Astro.props;
const sliderTitle = data?.sliderTitle;
const sliderItems = data?.sliderItems;
const commonBtn = data?.commonBtn;
const slideList = sliderItems.map((item, index)=>{
    const text = item?.title || '';
    const link = item?.url || '#';
    const picinfo = getFields(item?.coverImage?.data?.attributes);
    return ({
        text,
        link,
        pic: slideCoverList[index].src,
        alt: picinfo.alternativeText
    })
})
---
<RichText
    data={sliderTitle}
    styles={{
        h2: 'mb-2',
        h3: 'mb-2',
        list: 'mb-4',
        paragraph: 'mb-4'
    }}
/>
<div class="overflow-hidden -mb-8">
    <SliderContainer
        client:load
        itemsNum={5}
        noInfiniti={true}
        list={slideList}
        itemComponentName="SliderItem8"
    />
</div>
{commonBtn &&
    <div class="flex justify-center" >
        <ButtonRounded
            size="xl"
            color={commonBtn?.type || 'red'}
            title={commonBtn?.name || ''}
            link={commonBtn?.link || '/'}
            className="w-full sm:w-auto"
        />
    </div>
}
