---
import { getImage } from "astro:assets";
import SliderContainer from "@components/slider/SliderContainer";
import infoPic1 from "@assets/svg/letter.svg";
import infoPic2 from "@assets/images/star.png";
import infoPic3 from "@assets/images/checked.png";

const slideImage1 = await getImage({ src: infoPic1, height: 50, format: 'webp' });
const slideImage2 = await getImage({ src: infoPic2, height: 50, format: 'webp' });
const slideImage3 = await getImage({ src: infoPic3, height: 65, format: 'webp' });

const {data} = Astro.props;
const title = data?.title;
const slide = data?.slide;

const images = [
    slideImage1,
    slideImage2,
    slideImage3,
    slideImage1,
    slideImage2,
    slideImage3,
]

const infoData = slide?.map((sld: any,index: any)=>{
    return ({
        text: sld.title,
        pic: images[index],
        description: sld.description,
    })
});

---
<h2 class="text-34-37-700 sm:text-40-48-700 mb-[24px]">
    {title}
</h2>
<div class="overflow-hidden pt-4">
    <SliderContainer
        client:load
        list={infoData}
        noInfiniti={true}
        itemComponentName="SliderItem5"
    />
</div>