---
import HeroContainer from "@components/hero/HeroContainer.astro";
import ButtonRounded from '@components/buttons/ButtonRounded';
import heroHomeD from '@assets/images/hero/hero-home-Dx145kb.png';
import heroHomeM from '@assets/images/hero/hero-home-M@2x97kb.png';

const pictures = [ heroHomeM, heroHomeD];
const title = `Pin Up Casino: Experiência de Cassino Premium do Brasil. Jogue Agora!`;
const description = `Tudo sobre Pin Up Bookmaker e quais opções de apostas ela oferece? Como preencher o formulário para cadastro na plataforma. Quais são as promoções e bônus. É fácil fazer um depósito e retirar dinheiro do site.`;
---
<HeroContainer
    pictures={pictures}
    title={title}
    description={description}
    textTopSpaceMobile={"mt-0"}
    textBoxWidth={"w-[340px] sm:w-2/3 lg:w-[480px]"}
>
    <div slot="btn-box">
        <ButtonRounded size="xl" color="red" title="Jogue agora" className="w-full sm:w-auto" />
    </div>
</HeroContainer>
