---
import Table from '../table/Table.astro';
---
<div class="mt-[60px]">
    <div class="mr-4">
        <div class="">
            <div class="mx-auto max-w-3xl text-base leading-7">
                <h2 class="mt-2 text-3xl font-bold tracking-tight sm:text-4xl text-pnp">
                    JavaScript for Beginners
                </h2>
                <div class="mt-10 max-w-2xl">
                    <p>
                        Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <Table/>
</div>  