---
const {reverse} = Astro.props;
const isReverse = reverse ? 'flex-col-reverse' : 'flex-col'
---
<div class=`w-full flex ${isReverse} items-center sm:flex-row sm:items-stretch gap-8 mb-[80px] sm:mb-[100px]`>
        <div class='w-full'>
            <slot name="first-col"/>
        </div>
        <div class='w-full'>
            <slot name="second-col"/>
        </div>
    </div>

