<div>
    <div class='flex flex-col-reverse sm:flex-row gap-8'>
        <div class=' sm:w-1/2 lg:w-3/5'>
            <slot name="first-col"/>
        </div>
        <div class='sm:w-1/2 lg:w-2/5'>
            <slot name="second-col"/>
        </div>
    </div>
    <div class='mt-8'>
        <slot name="action">    
    </div>
</div>

