---
import RichText from "@components/richtext/RichText.astro";
import SliderContainer from "@components/slider/SliderContainer";
import slidericon1 from '@assets/images/slides/icons/arrow-trending-up.svg';
import slidericon2 from '@assets/images/slides/icons/trophy.svg';
import slidericon3 from '@assets/images/slides/icons/gift.svg';
import slidericon4 from '@assets/images/slides/icons/information-circle.svg';
import { getFields } from "@utils";

const iconsList = [slidericon1, slidericon2, slidericon3, slidericon4];
const {data} = Astro.props;
const strategiesTitle = data?.strategiesTitle;
const strategiesSlider = data?.strategiesSlider;
const sliderData = strategiesSlider.map((item, index) =>{
    const picinfo = getFields(item?.coverImage?.data?.attributes);
    return ({
        text: item.title,
        description: item.description,
        pic: {
            url: iconsList[index].src,
            alt: picinfo.alternativeText
        }
    });
});
---
<div class="overflow-hidden pt-4">
    <div class="mb-10">
    <RichText
        data = {strategiesTitle}
        styles ={{
            paragraph: 'w-full sm:w-2/3'
        }}
    />
    </div>
    <SliderContainer
        client:load
        list={sliderData}
        noInfiniti={true}
        itemComponentName="SliderItem7Info"
    />
</div>
