
<>
    <div class="mx-auto">
        <h2 class="text-24-26-700 sm:text-40-48-700 text-pnp mb-4">
            Dicas para Acessar e Gerenciar Sua Conta no Pin-Up Casino
        </h2>
        <p class='text-16-24-400 text-pnp-grey20'>
            Os jogadores frequentes no <a href="/" class="underline decoration-1 text-pnp-green hover:text-pnp ">Pin-Up Casino</a> têm acesso a ofertas exclusivas e personalizadas. Essas ofertas podem incluir bônus personalizados, cashback, rodadas grátis e convites para eventos VIP. Manter-se ativo no cassino é a chave para desbloquear essas vantagens exclusivas.
        </p>
        <ul role="list" class="my-8 pl-6 space-y-8 text-pnp-grey20 list-decimal">
            <li class="text-16-24-400">
                Acesse sua conta no Pin-Up Casino regularmente para não perder as ofertas exclusivas disponíveis apenas para jogadores frequentes.            </li>
            <li class="text-16-24-400">
                Esteja atento às mensagens e notificações do Pin-Up Casino, pois elas podem conter informações sobre bônus personalizados, cashback e eventos VIP.
            </li>
            <li class="text-16-24-400">
                Aproveite os convites para eventos VIP. Essas ocasiões especiais podem oferecer experiências únicas e recompensas exclusivas.
            </li>
            <li class="text-16-24-400">
                Ao manter-se ativo, você pode receber bônus personalizados adaptados ao seu estilo de jogo e preferências, proporcionando uma experiência mais personalizada.
            </li>
            <li class="text-16-24-400">
                Esteja ciente do programa de fidelidade do Pin-Up Casino. Algumas ofertas exclusivas podem estar vinculadas ao seu status de jogador e à sua participação constante no cassino.
            </li>
        </ul>
        
        <div class="inline-block min-w-full align-middle border border-white/[.15] rounded-[32px]">
        <table class="table-fixed min-w-full divide-y divide-white/[.15] text-white mr-8">
            <thead>
              <tr class="divide-x divide-white/[.15]">
                <th scope="col" class="w-[50%] py-3.5 pl-8 pr-4 text-left text-18-28-400">Por dia</th>
                <th scope="col" class="w-[50%] py-3.5 px-8 text-left text-18-28-400">Por mês</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-white/[.15] ">

              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
              </tr>
              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 20 000</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">R$ 70 000</td>
              </tr>

            </tbody>
          </table>
          </div>
  
    </div>
</>