---
import {  getImage } from "astro:assets";

import Article from "@components/article/Article.astro";
import BlockBonusSlider from "./BlockBonusSlider";
import bonusPic1 from "@assets/images/bonus1-card.png";
import bonusPic2 from "@assets/images/bonus2-card.png";
import bonusPic3 from "@assets/images/bonus3-card.png";

const pic1 = await getImage({ src: bonusPic1, width: 433, format: 'webp' });
const pic2 = await getImage({ src: bonusPic2, width: 433, format: 'webp' });
const pic3 = await getImage({ src: bonusPic3, width: 433, format: 'webp' });
const sliderBonusesList= [
    {
        title: 'Avaliação Gratuita',
        description: '100% up to €2,000',
        pic: pic1,
    },
    {
        title: 'Descontos na compra de itens',
        description: '€750',
        pic: pic2,
    },
    {
        title: 'Assinaturas Mensais',
        description: '€1,600',
        pic: pic3,
    },
    {
        title: 'Avaliação Gratuita',
        description: '100% up to €2,000',
        pic: pic1,
    },
    {
        title: 'Assinaturas Mensais',
        description: '€1,600',
        pic: pic3,
    },
    {
        title: 'Descontos na compra de itens',
        description: '€750',
        pic: pic2,
    },
];
const columnsList = [
    {
        title: 'Como Obter Bônus de Boas-Vindas (Detalhado)',
        body: 'Receber o bônus de boas-vindas no Pin-Up Casino é simples. Após se registrar, basta acessar a seção de depósito e selecionar a opção de bônus de boas-vindas. Siga as instruções específicas para cadastrar seu primeiro depósito e ativar automaticamente o bônus. Esteja atento aos termos e condições para otimizar o uso do seu bônus e desfrutar ao máximo da experiência de jogo.'
    },
    {
        title: 'Bônus de Rodadas Grátis',
        body: 'Receber o bônus de boas-vindas no Pin-Up Casino é simples. Após se registrar, basta acessar a seção de depósito e selecionar a opção de bônus de boas-vindas. Siga as instruções específicas para cadastrar seu primeiro depósito e ativar automaticamente o bônus. Esteja atento aos termos e condições para otimizar o uso do seu bônus e desfrutar ao máximo da experiência de jogo.'
    },
    {
        title: 'Ofertas Exclusivas para Jogadores Frequentes',
        body :'Os jogadores frequentes no Pin-Up Casino têm acesso a ofertas exclusivas e personalizadas. Essas ofertas podem incluir bônus personalizados, cashback, rodadas grátis e convites para eventos VIP. Manter-se ativo no cassino é a chave para desbloquear essas vantagens exclusivas.'


    },
    {
        title: 'Programa de Fidelidade e Recompensas',
        body: 'O programa de fidelidade do Pin-Up Casino recompensa os jogadores leais com uma variedade de benefícios. Cada aposta realizada contribui para o acúmulo de pontos de fidelidade, que podem ser trocados por bônus, prêmios especiais ou até mesmo por dinheiro. Quanto mais você joga, mais recompensas acumula.'


    },
    {
        title: 'Existe um Bônus Sem Depósito no Pin-Up Casino?',
        body: 'O Pin-Up Casino oferece bônus sem depósito em determinadas ocasiões e promoções especiais. Esses bônus podem variar e geralmente estão sujeitos a requisitos específicos, como registro, códigos promocionais ou outras condições. Fique atento às atualizações do cassino para aproveitar essas oportunidades sem precisar fazer depósitos.'


    },
    {
        title: 'Promoções Especiais para Móveis no Pin-Up Casino',
        body: 'Os usuários móveis do Pin-Up Casino têm acesso a promoções exclusivas, adaptadas para a experiência em dispositivos móveis. Estas podem incluir bônus específicos para jogadores móveis, rodadas grátis em jogos otimizados para dispositivos portáteis e até mesmo promoções especiais de recarga para quem prefere jogar em smartphones ou tablets. Acompanhe as ofertas dedicadas aos jogadores móveis para maximizar sua experiência no cassino.'
    }
];

---
<Article titleH1 = 'Promoções e Bônus do Pin Up Casino'>

    <BlockBonusSlider
        client:load
        list={sliderBonusesList}
    />

    <section class="border border-pnp/[.2] rounded-[24px] sm:rounded-[30px] px-[24px] py-[24px] sm:px-[32px] sm:py-[32px] hover:bg-gradient-to-bl from-pnp-red/[.4] to-50% ">
        <ul class=" grid max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-700 lg:max-w-none lg:grid-cols-3">
            { columnsList.map(item => (
                <li>
                    <h2 class="text-24-26-700 text-pnp mb-4">
                        {item.title}
                    </h2>
                    <p class="text-16-24-400 text-pnp-grey20">
                        {item.body}
                    </p>
                </li>
            ))}
        </ul>
    </section>
    
</Article>
