---
import Layout from '@layout/Layout.astro';
export async function getStaticPaths() {
  return [
    {params: {slot: 'hell_hot'}},
  ];
}
const { slot } = Astro.params;
---
<Layout>
  <p>{slot}</p>
</Layout>

