---
import {  getImage } from "astro:assets";
import Article from "@components/article/Article.astro";
import SliderContainer from "@components/slider/SliderContainer";
import infoPic1 from "@assets/svg/apple.svg";
import infoPic2 from "@assets/svg/android.svg";
import infoPic3 from "@assets/svg/monitor.svg";

const pic1 = await getImage({ src: infoPic1, width: 433, format: 'webp' });
const pic2 = await getImage({ src: infoPic2, width: 433, format: 'webp' });
const pic3 = await getImage({ src: infoPic3, width: 433, format: 'webp' });


const infoData = [
    {
        text: 'Jogar no Android: Guia e Dicas',
        pic: pic1,
        description: 'Pronto para mergulhar no mundo dos jogos de azar no seu Android? Conheça os melhores jogos, dicas e definições para se divertir ao máximo no seu dispositivo.',
    },
    {
        text: 'Jogar no iOS: Vantagens e Facilidades',
        pic: pic2,
        description: 'Descubra o mundo dos jogos iOS com as suas vantagens únicas. As capacidades desta plataforma permitem-lhe desfrutar de jogos emocionantes criados especificamente para o seu dispositivo.',
    },
    {
        text: 'Experiência de Jogo Móvel vs. Desktop',
        pic: pic3,
        description: 'Jogue em qualquer lugar! Desfrute da emoção num formato móvel conveniente ou mergulhe nos clássicos dos jogos de tabuleiro para uma experiência de jogo completa.',
    },
];

---
    <div class="overflow-hidden pt-4">
        <Article titleH1="Descubra as Funcionalidades e Vantagens do Aplicativo Pin-Up Casino">
            <SliderContainer
                client:load
                list={infoData}
                noInfiniti={true}
                itemComponentName="SliderItem6"
            />
        </Article>
    </div>
