---
import RichText from "@components/richtext/RichText.astro";
import SliderContainer from "@components/slider/SliderContainer";
import { getFields } from "@utils";

import iconmonitor from '@assets/svg/monitor.svg';
import iconapple from '@assets/svg/apple.svg';
import iconandroid from '@assets/svg/android.svg';
const iconList = [iconandroid, iconapple, iconmonitor];

const {data} = Astro.props;
const appAdvantagesTitle = data?.appAdvantagesTitle;
const appAdvantagesSlider = data?.appAdvantagesSlider;

const sliderList = appAdvantagesSlider.map((item, index) => {
    const text = item.title;
    const description = item.description;
    const picinfo = getFields(item?.coverImage?.data?.attributes);
    return ({
        text,
        description,
        pic:{
            url: iconList[index].src,
            width: picinfo.w,
            height: picinfo.h,
            alt:picinfo.alternativeText        
        },
    })
})
---
<div class="overflow-hidden pt-4">
    <RichText
        data={appAdvantagesTitle}
        styles={{
            h2: 'w-full sm:w-3/4'
        }}
    />
    <SliderContainer
        client:load
        list={sliderList}
        noInfiniti={true}
        itemComponentName="SliderItem6"
    />
</div>
