---
import Layout from "@layout/Layout.astro";
import BlockSlotsList from "@content/home/BlockSlotsList/BlockSlotsList.astro";
import WithBottom from "@components/spaces/WithBottom.astro";
---
<Layout>
    <WithBottom>
        <div>
            Bonus page...
        </div>
    </WithBottom>
  
    <BlockSlotsList/>
</Layout>  
