---
import { getImage } from "astro:assets";
import Layout from '@layout/Layout.astro';

import BlockHero from '../content/BlockHero/BlockHero.astro';
import BlockConciseFormat from '../content/BlockConciseFormat/BlockConciseFormat.astro';
import BlockCasinoInfo from '../content/BlockCasinoInfo/BlockCasinoInfo.astro';
import BlockBonus from '../content/BlockBonus/BlockBonus.astro';
import BlockCasinoInfo2 from '../content/BlockCasinoInfo2/BlockCasinoInfo2.astro';
import BlockCasinoProviders from '../content/BlockCasinoProviders/BlockCasinoProviders.astro';
import BlockList from '../content/BlockList/BlockList.astro';
import BlockSuporte from '../content/BlockSuporte/BlockSuporte.astro';
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
import Slider from '@components/slider/Slider';
import SliderItem3 from '@components/slider/SliderItem3';
import Section from '@components/accordion/AccordionSection.astro';
import SpaceBlock from "@components/spaces/SpaceBlock.astro";
import BannerItem1 from "@components/banner/BannerItem1.astro";

import bonusCardPic1 from "@assets/images/bonus1-card.png";
import bonusCardPic2 from "@assets/images/bonus2-card.png";
import bonusCardPic3 from "@assets/images/bonus3-card.png";

import slotsPic1 from "@assets/images/slots-1.png";
import slotsPic2 from "@assets/images/slots-2.png";
import slotsPic3 from "@assets/images/slots-3.png";

const bonus1pic = await getImage({ src: bonusCardPic1, format: 'webp' });
const bonus2pic = await getImage({ src: bonusCardPic2, format: 'webp' });
const bonus3pic = await getImage({ src: bonusCardPic3, format: 'webp' });

const slots1pic = await getImage({ src: slotsPic1, width: 433, format: 'webp' });
const slots2pic = await getImage({ src: slotsPic2, width: 433, format: 'webp' });
const slots3pic = await getImage({ src: slotsPic3, width: 433, format: 'webp' });

const slotsList1 = [
    {
        name: 'Hell Hot',
        description: 'Uma colorida slot infernal com símbolos ardentes e grandes prémios.',
        picObj: slots1pic,
    },
    {
        name: 'Demi Gods II',
        description: 'Mergulhe numa aventura emocionante com personagens únicas e grandes prémios.',
        picObj: slots2pic,
    },
    {
        name: 'Gates of Olympus',
        description: 'Descobre o fascinante mundo da mitologia grega com riquezas e poder.',
        picObj: slots3pic,
    },
];
---
<Layout>
    <Breadcrumbs breadcrumb={[{key: 'home', name: 'Home'}]}/>
    <BlockHero/>
    <BlockConciseFormat/>
    <BlockCasinoInfo/>
    <BlockBonus/>
    <div class="mr-4 mb-40px sm:mb-[80px] md:mb-[90px] ld:lg-[100px]">
        <Slider title="Promoções e Bônus do Pin Up Casino">
            { slotsList1.map(item=>(
                <SliderItem3
                    name={item.name} 
                    description={item.description}
                    pic={item.picObj}
                />
            ))}
        </Slider>
    </div>

    <BlockCasinoInfo2/>
    <BlockCasinoProviders/>
    <BlockList/>
    <BlockSuporte/>
    <BannerItem1/>

    <SpaceBlock>
        <Section
            title="Conclusão"
            body='E ainda, é PinUp real ou falso? Nós sabemos a resposta para esta pergunta! Pin-Up Casino é uma ótima plataforma para todos os fãs de jogos de cassino e apostas. Uma ampla gama de serviços, bônus rentáveis, métodos de pagamento seguros e confiáveis, serviço de suporte de alta qualidade e grandes ganhos já estão esperando por você no PinUp Brasil ! Não perca tempo e inscreva-se logo! E não se esqueça dos bônus de boas-vindas!' 
        />
    </SpaceBlock>
</Layout>

