---
import Table from '@components/table/TableDynamic.astro';
import ButtonRounded from '@components/buttons/ButtonRounded.tsx';
import RichText from '@components/richtext/RichText.astro';
const {data} = Astro.props;
const title = data?.title || '';
const description = data?.description || [];
const buttons = data?.buttons || [];
const table = data?.table || null;
---
{title &&
  <h2 class="text-34-37-700 sm:text-40-48-700 mb-[24px] w-3/4">
    {title}
  </h2>
}

{!!description?.length &&
  <RichText
    data={description}
  />
}
{table && 
  <Table data={table}/>
}
{!!buttons?.length && 
  <div class='flex flex-row justify-center my-4 sm:mr-0'>
    {buttons.map(item=>{
      return(
        <ButtonRounded
            size="xl" 
            color={item?.type || "red"} 
            title={item?.name|| ''}
            link={item?.link || "#"} 
            className='w-full sm:w-auto'
        />
      )
    })}
  </div>
}
