---
import SliderContainer from "@components/slider/SliderContainer";
import RichText from "@components/richtext/RichText.astro";
import { getFields } from "@utils";

const {data} = Astro.props;
// console.log('data :::', data);
const bonusSliderTitle = data ? data?.bonusSliderTitle : null;
const bonusItems = data ? data?.bonusItem : null;

const sliderList = bonusItems.map(item => {
    const text = item?.title || '';
    const description = item?.description || '';
    const imageLink = item?.imageLink || '#';
    const imageData = item?.imageCover ? getFields(item?.imageCover?.data?.attributes) : null;
    const buttons = item?.buttons || [];

    return({
        text,
        description,
        imageLink,
        imageData,
        buttons 
    })
});
// console.log('sliderList', sliderList)
---
<div class="overflow-hidden pt-4">
    <RichText
        data={bonusSliderTitle}
    />
    
    <SliderContainer
        client:load
        list={sliderList}
        itemComponentName="SliderItem2"
    />

</div>