---
const links = [
    {url: '/', title: 'Home'},
    {url: '/about', title: 'About'},
    {url: '/mdxpage', title: 'MDX page'},
    {url: '/products', title: 'Products'},
];
---
<nav class="flex h-[50px] bg-gray-400 text-white px-4 items-center justify-between">
    <h2 class="text-lg font-bold">Astro nav</h2>
    <ul class="list-none flex">
        { links.map(item => <li class="mr-2"><a href={item.url}>{item.title}</a></li>) }
    </ul>
</nav>