---
import ContactsContainer from "@components/contacts/ContactsContainer.astro";
import RichText from "@components/richtext/RichText.astro";
import WithBottom from "@components/spaces/WithBottom.astro";

const {data} = Astro.props;
const titleContacts = data.title;
const listContacs = data.list;
---
<WithBottom>
    <div id="contacts" class="mb-6">
        <RichText
            data = {titleContacts}
        />
    </div>
    <ContactsContainer
        data={listContacs}
    />
</WithBottom>
