<div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full align-middle border border-white/[.15] rounded-[32px]">
          <table class="min-w-full divide-y divide-white/[.15] text-white">
            <thead>
              <tr class="divide-x divide-white/[.15]">
                <th scope="col" class="py-3.5 pl-8 pr-4 text-left text-18-28-400">Name</th>
                <th scope="col" class="px-8 py-3.5 text-left text-18-28-400">Title</th>
                <th scope="col" class="px-8 py-3.5 text-left text-18-28-400">Email</th>
                <th scope="col" class="py-3.5 p-8 pr-4 text-left text-18-28-400 sm:pr-0">Role</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-white/[.15] ">

              <tr class="divide-x divide-white/[.15]">
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400">Lindsay Walton</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400 ">Front-end Developer</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400 ">lindsay.walton@example.com</td>
                <td class="whitespace-nowrap py-4 pl-8 pr-4 text-18-28-400  sm:pr-0">Member</td>
              </tr>
  
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  