---
import Item from './BreadcrumbItem.astro';
import { parsePathname, buildList } from './util';
import { PageId, pagePreferencies } from '@constants';

const { pathname } = Astro.url;
const listIds = parsePathname(pathname);
const listItems = buildList(listIds);
---
<nav class="mt-[24px] mb-[32px]" aria-label="Breadcrumb">
    <ol class="flex items-center space-x-2">
        <Item
            id={PageId.HOME}
            name={pagePreferencies[PageId.HOME]['name']}
            url={ listIds.length 
                ? pagePreferencies[PageId.HOME]['url'] 
                : null
            }
        />
        {listItems.map(item => (
            <li>
                <Item {...item}/>
            </li>
        ))}
    </ol>
</nav>