---
import Item from './BreadcrumbItem.astro';

interface ItemProps {
    key: string;
    name: string;
    path?: string;
}

interface Props {
    breadcrumb: ItemProps[];
}

const { breadcrumb } = Astro.props as Props;
---
<nav class="mt-[24px] mb-[32px]" aria-label="Breadcrumb">
    <ol role="list" class="flex items-center space-x-2">
        <Item key='home' name='Home' path={breadcrumb.length ? '/': null} />
        {breadcrumb.map(item => (
            <li>
                <Item {...item}/>
            </li>
        ))}
    </ol>
</nav>