---

import Home from 'astro-heroicons/mini/Home.astro';
import ChevronRight from 'astro-heroicons/mini/ChevronRight.astro';
import { PageId, PageName } from '@constants';

interface Props {
    id: PageId;
    name: PageName;
}

const { id, name } = Astro.props as Props;
const modeName = id !== PageId.BONUS ? name : 'Bonus Do Pin Up Casino';
---
<>  
    <div class="flex items-center space-x-2">
        {id === PageId.HOME ? <Home class="h-[20px]" /> : <ChevronRight class="h-[20px]" />}
        <span>{modeName}</span>
    </div>
</>