---
import ContactCard from './ContactCard.astro';
const {data} = Astro.props;

// {
//       id: 1,
//       contactName: 'Suporte por e-mail',
//       contactEmail: 'suporte@pinupcasino.br',
//       contactTel: '+1 (555) 905-34-56'
//     },

---
<div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    {
        data.map(item => (
            <ContactCard
                name={item.contactName}
                email={item.contactEmail}
                tel={item.contactTel}
            />
        ))
    }
</div>