---
import { accItems } from './mock';
import AccordionItem from "./AccordionItem.astro";
---
<>
  <h2 class="text-34-37-700 sm:text-40-48-700 my-7">
    Perguntas mais frequentes
  </h2>
  
  <ol class="flex flex-col gap-y-6">
    { accItems.map(item => (
        <AccordionItem
          title={item.title}
          body={item.body}
          isActive={item.isActive} 
        />
    ))}
  </ol>
<>

<script>
  const acc = document.getElementsByClassName("accordion");
  let i: number;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      const arrowIcon = this.children[1];
      const panel = this.nextElementSibling;

      arrowIcon.classList.toggle("rotate-180");
      panel.classList.toggle("max-h-[999px]");
      panel.classList.toggle("max-h-0");
    });
  }
</script>	