.accc:after {
    transition: 0.3s;
    content: '';
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background: radial-gradient(118.45% 144.98% at 8.58% 93.84%, rgba(255, 255, 255, 0.00) 0%, rgba(6, 186, 159, 0.20) 100%), rgba(255, 255, 255, 0.03);    opacity: 0;
    z-index: -1;
}
.accc:hover:after {
    opacity: 1;
}
.accc button:focus-visible {
    outline-width: 0px;
}

/* 
   Example:
   background: linear-gradient(30deg, #06ba9f33 0%, #06ba9f23 55%, #ffffff08  65%, #ffffff08 73%, #e1141413 95%, #e1141423 100% ) var(--x, 100%)/ 200%;
   --x: 100%; 
*/
