---
import RichText from "@components/richtext/RichText.astro";
import BannerWrapper from "./BannerWrapper.astro";
import ButtonRounded from "@components/buttons/ButtonRounded";

const { btn, description } = Astro.props;
const buttonLink = btn?.link;
const buttonName = btn?.name;
const buttonType = btn?.type;
---
<BannerWrapper>
    <div class=` px-4 py-4  w-full h-full flex flex-col gap-2 md:gap-4 items-center justify-center text-center`>
        <div class="max-w-[820px] drop-shadow-lg">
            <RichText
                data={description}
                classList="w-full"
            />
        </div>
        <ButtonRounded
            size="xl"
            color="red"
            link={buttonLink}
            title={buttonName}
            color={buttonType}
            className="w-full sm:w-auto"
        />
    </div>
</BannerWrapper>