---
import CheckCircleIcon from "@heroicons/react/16/solid/CheckCircleIcon";

const {data, index} = Astro.props;

---

<li class="flex gap-x-3">
    <div class="h-8 w-8">
        <div class="bg-pnp h-7 w-7 rounded-full relative block">
            <CheckCircleIcon className="h-8 w-8 text-[#06BA9F] absolute -top-[2px] -left-[2px]"/>
        </div>
    </div>

    <div class="flex flex-col">
        { data.children.map(child => {
            if(child.bold){
                return (
                    <p>
                        <strong class='text-18-28-600 text-pnp'>{child.text}</strong>
                    </p>
                )
            }   
            return (
                <p class='text-16-24-400 text-pnp-grey20'>{child.text}</p>
            )
        })}
    </div>
</li>
