---
const {data, index} = Astro.props;

---
<li class="flex gap-x-3 mb-[32px] last:mb-0">
    <div class="bg-pnp-green h-[28px] w-[28px] rounded-full flex items-center justify-center px-[11px] py-[10px]">
        <span class="text-16-24-600 text-pnp">{index+1}</span>
    </div>

    <div class="flex flex-col">
        { data.children.map(child => {
            if(child.bold){
                return (
                    <p>
                        <strong class='text-18-28-600 text-pnp'>{child.text}</strong>
                    </p>
                )
            }   
            return (
                <p class='text-16-24-400 text-pnp-grey20'>{child.text}</p>
            )
        })}
    </div>
</li>
