---
const {block} = Astro.props;
console.log('Ordered :::', block);
---
<ul class="my-8 pl-6 space-y-3 text-pnp-grey20 list-decimal">
    <li>list-decimal</li>
    <li>list-decimal</li>
    <!-- { data.map(item=> (
        <li class='text-16-24-400'>
            {item}
        </li>
    )) } -->
</ul>
