---
const {block} = Astro.props;
---
<ul class="my-8 pl-6 space-y-3 text-pnp-grey20">
    <li>list </li>
    <!-- { data.map(item=> (
        <li class='text-16-24-400'>
            {item}
        </li>
    )) } -->
</ul>
