---
import { ViewTransitions } from 'astro:transitions';
import Header from '@components/header/Header';
import Footer from '@components/footer/Footer.astro';
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
 
const {seo=[{metaTitle: '', metaDescription: ''}]} = Astro.props;
const metaTitle = seo[0]?.metaTitle;
const metaDescription = seo[0]?.metaDescription;
---
<html lang="pt" class="w-full bg-pnp-card-bg">
	<head>
		<meta name="robots" content="nofollow" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content={metaDescription}>
		<title>{ metaTitle }</title>
		<link
			rel="icon"
			type="image/svg+xml"
			sizes="16x16"
			href="./images/p.svg"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			sizes="32x32"
			href="./images/p.svg"
		/>
		<ViewTransitions />
		<style>
			html, body {
				margin:0;
				padding:0;
				background-color: #00A189;
			}
		</style>
	</head>
	<body class="py-4 pl-4 pr-4 sm:p-4 md:p-6 lg:py-10  lg:px-20 bg-pnp-card-bg text-pnp w-full">
			<!-- <div class="max-w-[1360px] mx-auto relative"> -->
			<div class="max-w-[1160px] mx-auto relative">
			<Header client:load />
			<Breadcrumbs />
			<main>
				<slot/>
			</main>
			<Footer />
		</div>
	</body>
</html>