---
import { ViewTransitions } from 'astro:transitions';
import Header from '@components/header/Header';
import Footer from '@components/footer/Footer.astro';
import AccordionContainer from '@components/accordion/AccordionContainer.astro';
import WithBottomSpace from '@components/spaces/WithBottom.astro';
import Breadcrumbs from '@components/breadcrumbs/Breadcrumbs.astro';
 
interface Props {
    title?: string;
}

const {props, generator} = Astro;
const { title = 'Empty title' }: Props = props;

// import {fetchApi, endpoints} from '@api/index';
// const pageLayoutSchema = await fetchApi({
//     endpoint: endpoints.layout,
// });
// const dataLayout = pageLayoutSchema ? pageLayoutSchema['data'].attributes : null;
// const faqData = dataLayout.faqBlock;
// console.log('faqData :::', faqData);

// import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
// <GoogleFontsOptimizer url={'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap'}>
// </GoogleFontsOptimizer>
---
<html lang="en" class="w-full bg-pnp-card-bg">
	<head>
		<meta name="robots" content="nofollow" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta name="generator" content={generator} />
		<title>{ title }</title>
		<link
			rel="icon"
			type="image/svg+xml"
			sizes="16x16"
			href="./images/p.svg"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			sizes="32x32"
			href="./images/p.svg"
		/>
		<ViewTransitions />
		<style>
			html, body {
				margin:0;
				padding:0;
				background-color: #00A189;
			}
		</style>
	</head>
	<body class="py-4 pl-4 pr-4 sm:p-4 md:p-6 lg:py-10 lg:px-20 bg-pnp-card-bg text-pnp w-full">
			<div class="max-w-[1360px] mx-auto relative">
			<Header client:load />
			<Breadcrumbs />
			<main>
				<slot/>
			</main>
			<!-- <WithBottomSpace>
				<AccordionContainer
					data={faqData}
				/>
			</WithBottomSpace> -->
			<Footer />
		</div>
	</body>
</html>